doctype html
html
  head
    title Desenvolvimento de Aplicações Web (TPC8)
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/myUploader.js')
  body
    block content
